[Unit]
Description=Capture udp to pcap
ConditionPathExists=/var/lib/tcp-shaping

[Service]
Type=simple
ExecStart=/usr/bin/tcp-shaping --listen 9678

[Install]
WantedBy=multi-user.target
